.nav {
  width: 100%;
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid #bba;
  background-color: #eaeaff;
}

.no-padding {
  padding: 0;
}

.title {
  text-align: center;
}

h4 {
  text-align: center;
}

.right {
  text-align: right;
}
