<div class="nav row">
  <div class="col-2 no-padding">
    <button mat-mini-fab color="warn" (click)="emitRestart()">
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>
  <div class="col-8 title">
    <h4>Player Guesser</h4>
  </div>
  <div class="col-2 no-padding right">
    <button mat-mini-fab color="primary" (click)="openFAQ()">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</div>
