<app-navbar (restart)="restart($event)"></app-navbar>
<div class="container game">
  <div
    class="row col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2"
  >
    <div class="row center no-margin">
      <div class="answer">
        <app-player-box
          (reload)="reloadImage($event)"
          [gameResult]="gameResult"
          [count]="count"
        >
        </app-player-box>
        <div *ngIf="gameResult?.isActive">
          <app-search
            [guessCount]="guessResults.length"
            [players]="players$ | async"
            (guess)="addGuess($event)"
          ></app-search>
        </div>
      </div>
    </div>
    <app-result-row
      class="result-row"
      *ngFor="let result of guessResults"
      [guessResult]="result"
    ></app-result-row>
  </div>
</div>
