.game {
  margin-top: 18px;
}

.answer {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 12px 0 24px 0;
  box-shadow: 1px 1px 8px #ccc;
  display: block;
  width: fit-content;
  width: 100%;
}

.result-row {
  margin: 8px 0;
}

button {
  margin-top: 0 !important;
}

.center {
  justify-content: center;
}

.right {
  float: right;
  position: relative;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

button {
  margin-top: 10px;
}

.title {
  text-align: center;
}

h4 {
  text-align: center;
}

.right {
    text-align: right;
}