<form class="form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Search player</mat-label>
    <input
      type="text"
      [placeholder]="'guess ' + (guessCount + 1) + ' of 8'"
      aria-label="Search player"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="select()"
    >
      <mat-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option"
      >
        <img
          class="teamImg"
          [src]="
            'https://media.api-sports.io/football/teams/' +
            option.teamId +
            '.png'
          "
        />
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
