<div *ngIf="!gameResult.isActive">
  <h4>{{ gameResult?.name }}</h4>
</div>

<img
  class="secret"
  (error)="reloadImage($event)"
  [src]="'/game/image/' + count"
/>

<div *ngIf="!gameResult.isActive" class="result">
  <div *ngIf="gameResult?.win; else lose" class="win">
    <h4>You won!</h4>
  </div>
  <ng-template #lose>
    <div class="lost">
      <h4>You lost</h4>
    </div>
  </ng-template>
</div>
