<h4>{{ guessResult.name }}</h4>
<div class="answer-row">
  <div class="box">
    <div
      class="circle"
      [class]="{'correct': guessResult.nationality.result, 'small': small}"
    >
      <img *ngIf="nationalityImg" [src]="nationalityImg" />
    </div>
  </div>
  <div class="box">
    <div class="circle" [class]="{'correct': guessResult.leagueId.result, 'small': small}">
      <img *ngIf="leagueImg" [src]="leagueImg" />
    </div>
  </div>
  <div class="box">
    <div class="circle" [class]="{'correct': guessResult.teamId.result, 'small': small}">
      <img *ngIf="teamImg" [src]="teamImg" />
    </div>
  </div>
  <div class="box">
    <div class="circle" [class]="{'correct': guessResult.position.result, 'small': small}">
      <div>
        {{ guessResult.position.value }}
      </div>
    </div>
  </div>
  <div class="box">
    <div class="circle" [class]="{'correct': isAgeCorrect, 'small': small}">
      <div>
        {{ guessResult.age.value + arrow }}
      </div>
    </div>
  </div>
</div>
