
h4 {
    text-align: center;
    margin-bottom: 8px;
}

.answer-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.box {
    padding: 0;
    justify-content: center;
    display: inline-flex;
    width: 20%;
    margin: 0;
}

.circle {
    border: 1px solid #888;
    border-radius: 100%;
    background-color: #9999AA;
    max-width: 95%;
    width: 60px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px #000;
    align-items: center;
    justify-content: center;
    display: flex;
}

.small {
    width: 45px;
    height: 45px !important;
    font-size: 16px;
}

img {
    width: 70% !important;
}

.correct {
    background-color: #4ade80 !important;
}
