<mat-icon class="close" mat-dialog-close>cancel</mat-icon>
<h4>How to play</h4>
<mat-dialog-content>
  <p>
    Guess the footballer in 8 tries. The mystery player will play for a club in
    one of <b>The Big Five</b> European leagues.
  </p>
  <p>
    There is a blurred image of the player to start you off. Don't trust the
    colours as they have been manipulated. The image will become slightly less
    blurred after each guess.
  </p>
  <p>
    Feedback will be revealed comparing your guessed player. For example, if you
    guess <b>Jorginho</b>…
  </p>
  <div class="col-lg-8 center">
    <app-result-row
      [guessResult]="exampleResult"
      [small]="true"
    ></app-result-row>
  </div>
  <p>
    … Means that the mystery player is
    <b>not Italian, does play in the Premier League</b>, but
    <b>not for Chelsea</b>. The player <b>is a midfielder</b> and he is
    <b>under the age of 30</b>.
  </p>

</mat-dialog-content>
<p class="copyright">Copyright 2022. All Rights Reserved</p>
<span><a target="_blank" href="https://twitter.com/jacksparro1010"><i class="fab fa-twitter"></i></a></span>

