.center {
    margin: auto;
}

h4 {
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

.close {
    cursor: pointer;
}


.cdk-global-overlay-wrapper {
    overflow: hidden;
    pointer-events: auto; 
  }